.header {
    display: flex;
    justify-content: center;
    width: 600px;
    height:300px;
    padding: 5px;
}

.profilePic {
    padding: 10px;
    height: 250px;
    width: 250px;
}

img {
    border-radius: 95%;
    border: 6px solid black;
    height: 100%;
}

.myName {
    font-size: 75px;
    font-family: 'Permanent Marker';
}

.bio {
    width:600px;
    padding-top: 1%;
    padding-left: 20%;
    padding-right: 20%;
}

.bioTitle{
    display: flex;
    font-size: 60px;
    font-family: 'Roboto'
}

.bioText{
    text-align: left;
}

.techInt {
    width:600px;
}

.techTitle{
    display: flex;
    font-size: 60px;
    font-family: 'Roboto'
}

.techCont{
    text-align: left;
}

.social {
    display: flex;
}
.twitter {
    padding-left: 5px;
    padding-right: 5px;
}

.github {
    padding-left: 5px;
    padding-right: 5px;
}

.linkedIn {
    padding-left: 5px;
    padding-right: 5px;
}


@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto:500,900')